.govuk-warning-text.info {
  border: 5px solid $blue;
  padding: $govuk-gutter-half;

  .govuk-warning-text__icon {
    border-color: $blue;
    background-color: $blue;
    left: 8px;
    top: 8px;
    margin-top: 0;
  }

  .govuk-warning-text__text {
    padding-left: 40px;
    font-weight: normal;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
